.about-section {
  padding: 5rem 2rem;
  background-color: #f9f9f9;
  color: #333;
}

.about-heading {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: rgb(107, 97, 85);
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 1000px;
  margin: 0 auto;
}

.about-image-container {
  flex: 1;
  display: flex;
  justify-content: center;
}

.about-image {
  max-height: 500px;
  width: auto;
  border-radius: 17px;
  box-shadow: 0 4px 12px rgba(38, 37, 37, 0.15);
  margin: 1.5rem;
  margin-bottom: 3rem;
  object-fit: cover;
}

.about-text-container {
  flex: 1;
  padding: 0 1rem;
}

.about-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.1rem;
  line-height: 1.5;
  margin-bottom: 1.2rem;
  text-align: justify;
}

.contact-link {
  color: #555;
  text-decoration: underline;
  transition: color 0.3s;
}

.contact-link:hover {
  color: #000;
}

.about-finishing-line {
  height: 1px;
  width: 95%;
  background-color: #000;
  margin: 4rem auto 0 auto;
  opacity: 0.6;
}

@media (min-width: 768px) {
  .about-container {
    flex-direction: row;
    align-items: flex-start;
    gap: 4rem;
  }

  .about-image-container {
    order: 2;
  }

  .about-text-container {
    order: 1;
  }
}
