.services-wrapper {
  background-color: #f9f6ee;
  padding: 60px 20px;
  text-align: center;
}

.services-intro h2 {
  font-size: 2rem;
  font-weight: 400;
  margin-bottom: 20px;
  color: #222;
}

.services-intro hr {
  margin: 40px auto;
  width: 80%;
  border: none;
  border-top: 1px solid #999;
}

.services-heading h3 {
  font-size: 1.8rem;
  margin-bottom: 40px;
  color: #333;
}

.services-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
  margin-bottom: 60px;
}

.service-card {
  max-width: 300px;
  text-align: center;
  background-color: transparent;
  padding: 10px;
  border-radius: 12px;

  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-image {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}

.service-card h4 {
  font-size: 1.2rem;
  margin-bottom: 10px;
  color: #222;
}

.service-card p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.5;
}

.rates-section {
  background-color: #8aabad;
  padding: 60px 20px;
  text-align: center;
  color: #000;
}

.rates-section h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.rates-section p {
  margin-bottom: 1rem;
  line-height: 1.6;
  font-size: 1rem;
  color: #000;
}

.rates-section a {
  color: #003366;
  text-decoration: underline;
}

.footer-note {
  background-color: #f9f6ee;
  padding: 40px 10px;
  text-align: center;
  color: #000;
}

.footer-note p {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.quote-section {
  background-image: url('/q2.jpg');
  background-size: cover;
  background-position: center;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.quote-overlay {
  background-color: transparent;
  padding: 40px 20px;
  border-radius: 12px;
  text-align: center;
}

.quote-text {
  font-size: 1.8rem;
  font-family: 'Georgia', serif;
  font-weight: 500;
  color: #fbfbfb;
  margin-bottom: 10px;
}

.quote-author {
  font-size: 1rem;
  color: #555;
}
